.all-needs {
  p {
    text-align: right;
    line-height: 2.25rem;
    width: 532px;
    max-width: 90%;
    font-size: 19.8144px;
    margin-inline: auto;
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}
